h1 {
  color: gold;
}

html{
  background-color: gray
}

body{
  color: gold
}

body{
  font-size: 50px;
  font-family: "roboto": sans-serif;
  font-style: normal;
  font-weight: bold;
}

h1,h2{
  font-size: 70px;
  font-family: "roboto": sans-serif;
  font-style: normal;
  font-weight: bold;
}
a{
  color: white;
}

a:hover{
  color: hala(0,100%,50%,0.3);
}

h1,h2,p{
  margin-left: 80px;
  margin-top: 100px;
  margin-right: 150px;
  margin-bottom: 100;
}
