body{
  background-color: #333333;
  margin: 0;
}
*{
  box-sizing: border-box;
}
.board{
  width: 900px;
  background-color: whitesmoke;
  padding: 50px;
  display: flow-root;
  margin: 25px auto;
}
.red, .black {
  width: 100px;
  height: 100px;
  float: left;

}
.red{
  background-color: tomato;
}
.black{
  background-color: #333333;
}

.yellow{
  background-color: yellow;
  width: 800px;
  height: 100px;
  float: left;
}
.blue{
  background-color: blue;
  width: 800px;
  height: 25px;
  float: left;
  margin: 10px 0px 0px 0px;
}
.grid1{
  background-color: orange;
  width: 260px;
  height: 700px;
  float: left;
  margin: 10px 10px 10px 0px;
  display: flow-root;
}
.grid2{
  background-color: orange;
  width: 260px;
  height: 700px;
  float: left;
  margin: 10px 0px 10px 0px;
  display: flow-root;
}
.grid3{
  background-color: orange;
  width: 260px;
  height: 700px;
  float: left;
  margin: 10px 0px 10px 10px;
  display: flow-root;
}
.green{
  width: 800px;
  height: 100px;
  background-color: green;
  float: left;
  margin: 0px 0px 10px 0px;
}
header{
  background-color: gold;
  width: 800px;
  height: 200px;
  float: left;
  display: flow-root;
  margin: 0px 0px 0px 0px;

}

.blog1 {
  background-color: gold;
  width: 595px;
  height:450px;
  float: left;
  display: flow-root;
  margin: 150px 10px 10px 0px;
}

.blog2{
  background-color: gold;
  width: 195px;
  height: 200px;
  float: left;
  display: flow-root;
  margin: 150px 0px 150px 0px;

}

.blog3{
  background-color: gold;
  width: 595px;
  height: 50px;
  float: left;
  display: flow-root;
  margin: 0px 0px 20px 0px;
}

.tennis1{
  background: green;
  width: 98px;
  height: 449px;
  float: left;
  display: flow-root;
  margin: 0px 0px 1px 1px;
}

.tennis2{
  background: green;
  width: 595px;
  height: 149px;
  float: left;
  display: flow-root;
  margin: 0px 0px 1px 1px;
}
.tennis3{
  background-color: green;
  width: 297px;
  height: 299px;
  float: left;
  display: flow-root;
  margin: 0px 0px 1px 1px;
}
.tennis4{
  background-color: green;
  width: 98px;
  height: 449px;
  float: left;

  margin: 0px 1px 1px 1px;

}
