html{
  background-color: rgb(193, 193, 193);
}
.intro{
  color: rgb(0,15,47);
}
body{
  font-family:'Roboto',sans-serif;
  margin: 25px 30px 25px 30px;
}
h1,h2,h3,h4{
color: rgb(0,29,83);
}
p{
  color: rgb(0, 15, 47);
}
ol{
  color: rgb(0, 15, 47);
}
h1{
  font-size: 3rem;
}
