*{
  box-sizing: border-box;
  align-content:flex-flex-start;
  background-size: 100%;
  min-width:320px;
}
img{
  width: 100%;
}
body, html{
  margin: 0;
  width: 100%;
  height: 100%;
}



h1{
  width: 100%;
  height: 20%;
  font-size: 2rem;
  font-style: normal;
  font-family: "park-lane", serif !important;
  font-weight: bold;
  color: #832828;
  text-align: center;

  background-color: #DFE0E2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -50px 0px -50px 0px;

  padding: 1%;


}
nav{
  width: 100%;
  height: 10%;
  font-size: 1rem;
  font-style: normal;
  font-family: "park-lane", serif !important;
  font-weight: bold;
  color: #832828;
  text-align: left;
  background-color: #DFE0E2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0px 0px 0px 0px;
  list-style-type: none;

  flex-grow: 1;
  flex-shrink: 1;

  padding: 1%;


}



h2 {
   position: absolute;
   top: 60%;
   width: 50%;
   font-size: 4rem;
   font-family: "park-lane", serif !important;
   font-style: normal;
   font-weight: 700;
   color: #DFE0E2;
   align-items: center;
   text-align: center;
   left: 30%;


}


.texts{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    font-family: "park-lane", serif;
    text-align: center;
    color: #285C83;

    padding: 1em;

    justify-content:space-between;
    align-items: baseline;
    align-content: space-between;

    column-gap: 1%;


}


a:link, a:visited {
  color: #832828;
}
a:hover, a:active {
  color: #285C83;
}

.home-images{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;

  padding: 1em;
  margin: auto;
  justify-content:space-between;
  align-items:baseline;
  align-content: space-between;

  column-gap: 1%;
}

div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;

  justify-content:space-between;
  align-items:baseline;
  align-content: space-between;

}

.nav1, .nav2, .nav3 {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 1;
}






@media screen and (max-width: 500px){

  html, body{
    width: 100%;
    height:100vh;
    align-content:flex-flex-start;
    margin: 0;
  }
  img{
    width: 100%;
  }

h2{
  font-size: 100%;
  width: 50%;
  height: 10%;
  top: 35%;
  left: 28%;
  text-align: center;
  align-items: center;
  margin: auto;

}

nav{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: baseline;
  align-content: space-between;

  column-gap: 0%;

}
.home-images{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top; 0%;
  margin: 0;
}

.texts{
  color: #FFFFFF;
  width: 100%;
  height: 0%;
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: 0em;
}

a:link, a:visited {
  color: #832828;
}
a:hover, a:active {
  color: #285C83;
}



}
